@import "tailwindcss";

@font-face {
  font-family: "Ostrich";
  src: url("/fonts/OstrichSans-Heavy.otf") format("opentype");
  font-weight: 200;
  font-size:larger;
}

@font-face {
  font-family: "OfficeCode";
  src: url("/fonts/OfficeCodePro-Light.otf") format("opentype");
  font-weight: 400;
  font-size:smaller;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --font-ostrich: "Ostrich";

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-blue: #19507d;
  --color-grey: #7e7e7e;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'OfficeCode';
}

@layer utilities {
  .responsive-h1 {
    @apply text-5xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl;
  }
  .responsive-p {
    @apply text-xs md:text-base lg:text-lg xl:text-2xl 2xl:text-3xl;
  }
  .hover-icons {
    opacity: 0;
  }
  .hover-icons:hover {
    opacity: 1;
  }
}
