@import "tailwindcss";

@font-face {
  font-family: "Ostrich";
  src: url("/fonts/OstrichSans-Heavy.otf") format("opentype");
  font-weight: 200;
  font-size:larger;
}

@font-face {
  font-family: "OfficeCode";
  src: url("/fonts/OfficeCodePro-Light.otf") format("opentype");
  font-weight: 400;
  font-size:smaller;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --font-ostrich: "Ostrich";

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-blue: #19507d;
  --color-grey: #7e7e7e;
  --color-dark-grey: #1b1b1b;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'OfficeCode';
}

@layer utilities {
  .responsive-h1 {
    @apply text-5xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl;
  }
  .responsive-h2 {
    @apply text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl;
  }
  .responsive-p {
    @apply text-xs md:text-base lg:text-lg xl:text-2xl 2xl:text-3xl;
  }
  .hover-card {
    transform: perspective(400px) rotate3d(1, -1, 0, 0deg);
    transition: 0.5s;
    mask:
    linear-gradient(135deg,#000a 40%,#fff,#000a 60%)
    100% 100%/240% 240%;

  }
  .hover-card:hover {
    transform: perspective(400px) rotate3d(1, -1, 0, -2deg) scale(1.025);
    cursor: pointer;
    mask-position: 0 0;
  }
}
